<header id="top-menu" class="menu">
  <input type="checkbox" id="show-menu" class="menu-input" />
  <div class="title-bar">
    <img
      src="assets/MagpieEmbeddedNamed.png"
      alt="Magpie Embedded Logo with writing"
      style="height: 100%;"
    />
    <label for="show-menu" class="menu-button"
      ><div style="line-height: 10vh;"></div>Menu</div></label
    >
  </div>
  <div class="menu-bar">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
    <a class="menu-close" href="javascript:void(0);" onclick="toggleMenu()"
      ><label for="show-menu">Close</label></a
    >
  </div>
</header>
